.wrapper {
  position: fixed;
  width: 500px;
  z-index: 999;
  max-height: 100vh;

  & {
    @media screen and (max-width: 600px) {
      top: 0 !important;
      left: 0 !important;
      width: 100vw;
      height: 100vh;
      .windowed {
        display: none;
      }
    }
  }

  &.collapsed {
    :global(.ant-card-body) {
      display: none;
    }
  }

  :global(.ant-card-body) {
    padding: 0 10px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 56px);
  }

  .player {
    width: 100%;

    .header {
      padding-top: 10px;
      position: sticky;
      top: 0;
      left: 0;
      background-color: white;
      @media (prefers-color-scheme: dark) {
        background-color: #141414;
        z-index: 1;
      }
    }

    .list {
      user-select: none;

      .song {
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;

        &.playing {
          background-color: #444;
        }

        &:hover {
          background-color: #333;
        }
      }
    }
  }
}
