@use "../../../style/mobile";

.wrapper {
  padding: 5px 10px;
  box-shadow: none;
  margin: 0 -10px;
  transition: 0.25s;

  &.shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    @media (prefers-color-scheme: dark) {
      box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    }
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    @include mobile.Mobile;

    .audio {
      flex: 1;
      display: flex;
      flex-wrap: nowrap;
      justify-content: stretch;
      align-items: stretch;
    }

    .button {
      margin: 10px;
      transition: 0.25s;
      padding: 20px 40px;

      &:hover {
        scale: 1.05;
      }

      &:active {
        scale: 2;
      }

      & > :global(.anticon) {
        scale: 2;
      }
    }
  }
}
