@use "../../../style/mobile";

.wrapper {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;

  .empty {
    padding: 10vh 0;
    height: 100vh;
    background: transparent;
  }

  .loadingText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
  }

  .karaoke {
    color: white;

    .line {
      padding: 0 15%;

      @media screen and (max-width: mobile.$max-width) {
        padding: 0 18%;
      }

      .mask {
        text-shadow: none;
      }
    }
  }

  .selector {
    position: sticky;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    transition: 0.2s;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }
}
