@use "../../../style/mobile";

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;

  .button {
    transition: 0.25s;
    padding: 25px 20px 20px;

    &:hover {
      scale: 1.05;
    }

    &:active {
      scale: 1.2;
    }

    & > :global(.anticon) {
      scale: 1.8;
    }
  }
}
